<div th:fragment="myfooter">
    <script th:src="@{{path}/static/js/jquery/jquery.min.js?v=2.1.4(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/bootstrap.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/bootstrap-switch.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/common.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/layer/layer.min.js(path=${contextPath})}"></script>
    <!--<script th:src="@{{path}/static/js/plugins/layer/laydate-v1.1/laydate/laydate.js(path=${contextPath})}"></script>-->
    <script th:src="@{{path}/static/js/plugins/layer/laydate/laydate.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/common/table_hover.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-table/bootstrap-table.min.js(path=${contextPath})}"></script>
    <script th:src="@{{path}/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js(path=${contextPath})}"></script>
</div>